html body  {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rebeccapurple;
}
.logo {
    height: 70px;
    width: 80px;
    background-image: url(../img/aspa.png);
    background-size: contain;
}