html body  {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rebeccapurple;
}
.logo {
    height: 70px;
    width: 80px;
    background-image: url(../img/aspa.png);
    background-size: contain;
}
.item {
    flex: 1 0 300px;
    padding: 15px;
    background-color: blueviolet;
    border-radius: 15px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rebeccapurple;
    color: white;
}